* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik Broken Fax', sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  background: linear-gradient(135deg, rgb(255, 68, 0), #0470dc 100%);
  background-image: url(./assets/Backgrounds/BlueOrange+1.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: aliceblue;
  font-size: 1rem;
}

a:hover {
  color: rgb(255, 68, 0);
  transition: all 0.3s ease 0s;
}

p {
  width: 60%;
  margin: auto;
  color: aliceblue;
}

h1,
h2,
h3 {
  color: aliceblue;
}

/* Navbar */

#navbar {
  position: relative;
  padding: 0 2rem;
}

.navbar {
  width: 100%;
  height: 40px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.logo {
  margin-right: auto;
}

.navbar .logo a {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar .nav-links {
  display: flex;
  margin: 1.5rem;
  gap: 1rem;
}

.nav-links li a {
  margin-left: auto;
}

.navbar .toggle_btn {
  color: aliceblue;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.action_btn {
  background-color: #0470dc;
  color: aliceblue;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 10px;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
}

.action_btn:hover {
  scale: 1.05;
  color: rgb(255, 68, 0);
}

.action_btn:active {
  scale: 0.95;
}

/* Dropdown Menu */
.dropdown_menu {
  display: none;
  position: absolute;
  right: 2rem;
  top: 60px;
  height: 0;
  width: 300px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.3s ease 0s;
}

.dropdown_menu.open {
  height: 240px;
  border: solid rgb(255, 68, 0);
}

.dropdown_menu .action_btn {
  width: 100%;
  display: flex;
  justify-content: center;
}

.dropdown_menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Hero */
#hero {
  height: calc(100vh - 40px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: aliceblue;
}

#hero h1 {
  font-size: 3rem;
  margin: 12px;
}

#hero h2 {
  margin: 12px;
}

#hero .imgframe {
  background: linear-gradient(135deg, rgb(255, 68, 0), #0470dc 100%);
  border-radius: 50%;
  border: solid aliceblue;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  height: 225px;
  width: 225px;
}

#hero img {
  border-radius: 50%;
  margin: 12px;
  border: solid aliceblue;
}

.img-icon {
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.img-icon:hover {
  scale: 1.05;
  transition: all 0.3s ease 0s;
}

.img-icon:active {
  scale: 0.95;
  transition: all 0.3s ease 0s;
}

.transition {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  width: 250px;
}

.transition_btn {
  background-color: rgb(255, 68, 0);
  color: aliceblue;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

.transition_btn:hover {
  color: #0470dc;
}

.transition:hover {
  scale: 1.05;
  transition: all 0.3s ease 0s;
}

.transition:active {
  scale: 0.95;
  transition: all 0.3s ease 0s;
}

/* About */
#about {
  overflow: hidden;
}

#about .heading h1 {
  color: rgb(255, 68, 0);
  font-size: 50px;
  text-align: center;
  margin-top: 35px;
}

#about .container {
  display: flex;
  justify-content: center;
  width: 90%;
  margin: 65px auto;
}

.about-content {
  flex: 1;
  width: 600px;
  margin: 0px 25px;
  background: linear-gradient(135deg, rgb(255, 68, 0), #0470dc 100%);
  border: solid rgb(255, 68, 0);
  border-radius: 10px;
  padding: 10px;
}

.about-content h3 {
  margin-bottom: 20px;
}

.about-content p {
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 40px;
  width: auto;
  color: aliceblue;
  font-family: 'Oswald', sans-serif;
}

.about-image {
  flex: 1;
  width: 600px;
  margin: auto;
}

#about img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  border: solid rgb(255, 68, 0);
}

.about-content .transition {
  flex-grow: 1;
  margin-top: auto;
  display: flex;
  justify-content: center;
}
/* Portfolio */

#portfolio {
  overflow: hidden;
}

#portfolio .heading h1 {
  color: rgb(255, 68, 0);
  font-size: 50px;
  text-align: center;
  margin-top: 40px;
}

#portfolio .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 30px auto;
}

/* Skills */

.skills-content {
  width: 100%;
  margin: 10px 25px;
  background: linear-gradient(135deg, rgb(255, 68, 0), #0470dc 100%);
  border: solid rgb(255, 68, 0);
  border-radius: 10px;
  padding: 10px;
}

.skills-content h3 {
  margin: 20px;
  text-align: center;
}

.skills-frame {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  padding: 10px 0px;
}

.skills-frame div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skills-frame img {
  background-color: aliceblue;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60px;
  height: 60px;
  display: flex;
  border: solid rgb(255, 68, 0);
  border-radius: 10px;
  margin: 12px 35px;
}

.skills-frame h4 {
  font-size: 14px;
  color: aliceblue;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  margin-bottom: 10px;
}

/* Projects */

.col {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
}

.card {
  background: linear-gradient(135deg, rgb(255, 68, 0), #0470dc 100%);
  border: solid rgb(255, 68, 0);
  border-radius: 10px;
}

.card img {
  border-radius: 10px;
  height: 200px;
  width: 100%;
}

.card h4 {
  margin-top: 10px;
  padding: 10px;
  text-align: center;
  color: rgb(255, 68, 0);
}

.card-body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  text-align: center;
}

.card-text {
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  margin-top: auto;
  width: auto;
}

.transition {
  align-items: center;
  width: auto;
  margin-bottom: 10px;
}

/* Contact */

#contact {
  overflow: hidden;
}

#contact .heading h1 {
  color: rgb(255, 68, 0);
  font-size: 50px;
  text-align: center;
  margin-top: 35px;
}

#contact .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
  margin: 65px auto;
}

.contact-content {
  width: auto;
  margin: 0px 25px;
  background: linear-gradient(135deg, rgb(255, 68, 0), #0470dc 100%);
  border: solid rgb(255, 68, 0);
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
}

.contact-content a {
  display: flex;
  padding: 10px;
  margin-right: 10px;
}

.contact-content p {
  padding: 0px;
  margin-left: 0px;
  font-family: 'Oswald', sans-serif;
}

.contact-content p:hover {
  color: rgb(255, 68, 0);
}

.contact-content p:active {
  scale: 0.95;
}

#contact img {
  border-radius: 50%;
  margin: 12px;
  border: solid aliceblue;
}

.img-icon {
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.img-icon:hover {
  scale: 1.05;
  transition: all 0.3s ease 0s;
}

.img-icon:active {
  scale: 0.95;
  transition: all 0.3s ease 0s;
}

/* Responsive Design */
@media (max-width: 992px) {
  .navbar .nav-links,
  .navbar .action_btn {
    display: none;
  }

  .navbar .toggle_btn {
    display: block;
  }

  .dropdown_menu {
    display: block;
  }
}

@media (max-width: 768px) {
  .heading h1 {
    font-size: 45px;
    margin-top: 30px;
  }

  #about {
    margin: 0px;
  }

  #about .container {
    width: 100%;
    flex-direction: column;
    margin-left: auto;
    margin-top: 0px;
    padding: 0px 40px;
  }

  .about-content {
    width: 100%;
    margin: 35px 0px;
  }

  .about-content h3 {
    font-size: 30px;
  }

  .about-content p {
    font-size: 18px;
    margin-bottom: 20px;
  }

  .about-content .transition {
    font-size: 16px;
    padding: 8px 16px;
  }

  .about-image {
    width: 100%;
    margin-bottom: 30px;
  }

  .col {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 576px) {
  .dropdown_menu {
    left: 2rem;
    width: unset;
  }

  .skills-frame {
    flex-wrap: wrap;
  }

  .col {
    display: grid;
    grid-template-columns: 1fr;
  }

  .contact-content {
    justify-content: center;
    align-items: center;
  }
  .contact-content a {
    flex-direction: column;
    align-items: center;
  }
}
